<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sent Password</title>
    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <!-- Header with the title -->
        <h1>Forget your password</h1>
    </header>
    <main>
        <div class="container">

            <!-- Form for login -->
            <h2> Dear {{ username }} :</h2>
            <br>
            <p>The password have already sent to your email {{ email }}, please check.</p>

            <!-- Logout button -->
            <br>
            <button type="button" onclick="window.location.href='{{ url_for('login') }}'" class="button">OK</button>

    </div>
    </main>
    <footer>
        <!-- Footer with copyright information -->
        <p>&copy; 2024 Security and Privacy Project. Group F.</p>
    </footer>
</body>
</html>
