<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry</title>
    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <!-- Header with the title -->
        <h1>Unavailable</h1>
    </header>
    <main>
        <div class="container">

            <!-- Form for login -->
            <h2> Sorry:</h2>
            <br>
            <p> This page is not available for {{ type }}</p>

            <!-- Logout button -->
            <br>
            <button type="button" onclick="window.history.back();" class="button">Back</button>

    </div>
    </main>
    <footer>
        <!-- Footer with copyright information -->
        <p>&copy; 2024 Security and Privacy Project. Group F.</p>
    </footer>
</body>
</html>
